@import "./base/reset.scss";
@import "./base/style.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./pages/index.scss";
@import "./pages/cuttingDay2.scss";
@import "./pages/cuttingDay3.scss";
@import "./pages/cuttingDay4.scss";
@import "./pages/cuttingDay5.scss";

@import "./pages/jsMainTask5.scss";
@import "./pages/jsMainTask7.scss";
