body {
  line-height: 1.5;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

.wrap {
  width: 800px;
  background-color: #f8f9fa;
}

.mt-1 {
  margin-top: 16px;
}
.mb-1 {
  margin-bottom: 16px;
}
.pb-1 {
  padding-bottom: 16px;
}
.pt-1 {
  padding-top: 16px;
}
.px-1 {
  padding-left: 16px;
  padding-right: 16px;
}
.p-1 {
  padding: 16px;
}
